._owark {
    max-width: 935px;
}


/*修改密码*/

.EzUlV {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}

.EzUlV,
.PVkFi {
    -webkit-box-flex: 1;
}

.BvMHM {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 60px auto 0;
    max-width: 935px;
    overflow: hidden;
    width: 100%;
}

.wW1cu {
    border-right: 1px solid #dbdbdb;
    -webkit-flex-basis: 236px;
    -ms-flex-preferred-size: 236px;
    flex-basis: 236px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.h-aRd,
.h-aRd:active,
.h-aRd:hover,
.h-aRd:visited {
    color: #262626;
}

.h-aRd {
    border-left: 2px solid transparent;
    display: block;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    padding: 16px 16px 16px 30px;
    width: calc(100% - 48px);
}

.M-jxE {
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.IalUJ,
.M-jxE {
    height: 100%;
    width: 100%;
}

.IalUJ {
    border: 0;
    cursor: pointer;
    padding: 0;
}

.IalUJ,
.M-jxE {
    height: 100%;
    width: 100%;
}

._01jIc,
.be6sR {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/*选中*/

.-HRM- {
    border-left-color: #262626;
    font-weight: 600;
}


/*右边*/

.PVkFi {
    -webkit-flex: 1 1 400px;
    -ms-flex: 1 1 400px;
    flex: 1 1 400px;
    min-width: 50px;
}

.C_9MP {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 32px 0 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.LqNQc {
    height: 38px;
    width: 38px;
}

.XX1Wc {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 20px;
    overflow-x: hidden;
}

.QXEMa,
.kHYQv {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}

.kHYQv {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.iElgJ {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 32px;
}

.eE-OA {
    margin-bottom: 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.sxIVS {
    margin-top: 6px;
    -webkit-flex: 0 0 194px;
    -ms-flex: 0 0 194px;
    flex: 0 0 194px;
}

.sxIVS,
.tiXqb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    -webkit-box-flex: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.ada5V {
    color: #262626;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.psMFr {
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    color: #262626;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 225px;
    -ms-flex: 0 1 225px;
    flex: 0 1 225px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
}

.zyHYP {
    -webkit-appearance: none;
}

.KUBKM,
._6VtSN {
    padding: 0 12px;
}

.pm766 {
    opacity: .3;
}

.jIbKX,
.m4t9r.jIbKX {
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
}

._5f5mN {
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


/*编辑主页*/

.JLJ-B,
.p7vTm {
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 355px;
    -ms-flex: 0 1 355px;
    flex: 0 1 355px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
}

.zyHYP {
    -webkit-appearance: none;
}

.LUEBY,
.LUEBY:active,
.LUEBY:hover,
.LUEBY:visited {
    color: #3897f0;
}

.tb_sK {
    display: none !important;
}

.p7vTm {
    height: 60px;
    padding: 6px 10px;
    resize: vertical;
}

._9404J {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 150px;
    -ms-flex: 0 1 150px;
    flex: 0 1 150px;
    height: 32px;
}

.Kaij6 {
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 12px;
}

.zOJg- {
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    color: #262626;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 32px;
    padding: 0 30px 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.Np4RR {
    margin: 6px 0;
}

.tUHDY {
    display: inline-block;
}

._9WdVC {
    left: -9999px;
    position: absolute;
}

.D7R7L {
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 16px;
}

.W_uFt {
    margin: 6px 10px;
}

.cRH0J,
.cRH0J:hover,
.cRH0J:visited {
    color: #3897f0;
}

.fi8zo {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 16px;
}

._1OSdk {
    display: block;
    position: relative;
}

.M8zL6,
.M8zL6:active,
.M8zL6:hover,
.M8zL6:visited {
    color: #3897f0;
}

.M8zL6 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: block;
    font-size: 14px;
}


/*手机*/

@media screen and (max-width:629px) {
    .wW1cu {
        display: none;
    }
    .EzUlV {
        border: 0;
        margin-top: 0;
    }
    .LqNQc {
        margin: 2px 20px 0;
    }
    .eE-OA {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .sxIVS,
    .tiXqb {
        -webkit-flex-basis: 25px;
        -ms-flex-preferred-size: 25px;
        flex-basis: 25px;
        padding: 0 20px;
    }
    .ada5V {
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0 20px;
    }
    ._5Q0UX {
        margin-top: 16px;
    }
    .fi8zo {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }
}


/*PC*/

@media screen and (min-width:630px) {
    .LqNQc {
        margin: 2px 32px 0 124px;
    }
    .eE-OA {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .sxIVS,
    .tiXqb {
        padding-right: 32px;
        text-align: right;
    }
    .sxIVS {
        padding-left: 32px;
    }
    .ada5V {
        -webkit-flex-basis: 355px;
        -ms-flex-preferred-size: 355px;
        flex-basis: 355px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-right: 60px;
    }
    ._6VtSN {
        padding: 0 24px;
    }
    .M8zL6 {
        margin-left: 105px;
    }
}