/*样式*/

._mesn5 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    width: 100%;
}

.u7YqG {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

._3fdmx,
._mainc {
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* flex-direction: row; */
}

._3fdmx {
    border-bottom: none;
    margin-bottom: 24px;
    padding-bottom: 0;
}

._b0acm {
    width: 77px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

._qdmzb {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

._62ai2 {
    height: 100%;
    width: 100%;
}

._62ai2 {
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

._cuacn,
._oor7o {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

._o6mpc {
    color: #262626;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
}

._ienqf,
._rf3jb {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
}

._ienqf {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

._rf3jb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._l9ml9,
._tb97a {
    display: block;
}

._tb97a {
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
}

.yLUwa {
    font-weight: 600;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._573jb {
    font-size: 14px;
    text-align: center;
    width: 33.3%;
}

._l9ml9,
._ncrqg {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 20px;
}

._pws6z {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 12px;
}

._h9luf,
._pws6z {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

._qv64e {
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
    text-align: center;
}

._h9luf {
    margin-bottom: 20px;
}

._bnq48 {
    font-size: 16px;
    margin-right: 40px;
}

._bnq48:first-child {
    margin-left: 0;
}

._t98z6,
._t98z6:active,
._t98z6:hover,
._t98z6:visited {
    color: inherit;
}

._sf8d3 {
    text-align: center;
    color: #999;
}

._fd86t {
    color: #262626;
    font-weight: 600;
}

._he56w {
    display: block;
}

._kc4z2 {
    display: inline;
    font-weight: 600;
}

._t7nuu {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 52px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

._2e96w,
._t7nuu,
a._sb9lc,
a._sb9lc:visited,
a._t7nuu,
a._t7nuu:visited {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

._2e96w,
a._t7nuu,
a._t7nuu:visited {
    color: #999;
}

._2e96w {
    border-top: 1px solid #efefef;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 12px;
    font-weight: 600;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
}

._2e96w,
a._t7nuu,
a._t7nuu:visited {
    color: #999;
}

._2e96w,
._t7nuu,
a._sb9lc,
a._sb9lc:visited,
a._t7nuu,
a._t7nuu:visited {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

a._sb9lc,
a._sb9lc:visited {
    color: #262626;
}

._4tgw8,
._r9b8f {
    padding: 0 12px;
}

._t78yp {
    background: 0 0;
    border-color: #dbdbdb;
    color: #262626;
}

._q8y0e {
    margin-left: 10px;
    margin-top: 0px;
}

._68sh8,
._q8y0e {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

._mnav9:last-child {
    margin-bottom: 0;
}

._6d3hm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

._mck9w {
    display: block;
    position: relative;
    width: 100%;
}

._6d3hm>* {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}

._e3il2 {
    background-color: #efefef;
    display: block;
    width: 100%;
}

._4rbun {
    display: block;
    overflow: hidden;
    /* padding-bottom: 100%; */
}

._2di5p {
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

._2di5p,
._si7dy {
    left: 0;
    /* position: absolute; */
    top: 0;
}

.jIbKX,
.m4t9r.jIbKX {
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
}


/*手机*/

@media screen and (max-width:629px) {
    .coreSpriteMobileNavTypeLogo {
        background-image: none;
    }
    ._2v79o {
        background-color: white;
    }
    ._mainc {
        display: none;
    }
    ._3fdmx {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 30px;
    }
    ._b0acm {
        margin-right: 28px;
    }
    ._qdmzb {
        height: 77px;
        width: 77px;
    }
    ._o6mpc {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    ._ienqf {
        margin-bottom: 12px;
    }
    ._rf3jb {
        font-size: 22px;
        line-height: 26px;
    }
    ._blwtu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 0;
    }
    ._4ay80 {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    ._ov9ai {
        display: block;
        position: relative;
    }
    ._1ekh3 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        height: 0;
        margin-left: 5px;
        margin-right: -10px;
    }
    ._t7nuu {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 44px;
    }
    ._tb97a {
        border-bottom: 1px solid #efefef;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        overflow: hidden;
        padding: 0 16px 21px;
        text-overflow: ellipsis;
    }
    ._mnav9 {
        margin-bottom: 3px;
    }
}


/*PC*/

@media screen and (min-width:630px) {
    /*导航*/
    ._pws6z {
        display: none;
    }
    ._mainc {
        margin-bottom: 44px;
    }
    ._tb97b {
        display: none;
    }
    ._3fdmx {
        display: none;
    }
    ._r9b8f {
        padding: 0 24px;
    }
    ._mesn5 {
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        padding: 60px 20px 0;
        width: calc(100% - 40px);
    }
    ._b0acm {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-right: 30px;
    }
    ._qdmzb {
        height: 152px;
        width: 152px;
    }
    ._o6mpc {
        -webkit-flex-basis: 30px;
        -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }
    ._ienqf {
        margin-bottom: 20px;
    }
    ._rf3jb {
        font-size: 32px;
        line-height: 40px;
        font-weight: 200;
    }
    ._sb9lc {
        border-top: 1px solid #262626;
        color: #262626;
        margin-top: -1px;
    }
    ._t7nuu:not(:last-child) {
        margin-right: 60px;
    }
    ._mnav9 {
        margin-bottom: 28px;
    }
}