.UP43G,
.qXyTW {
    background: 0 0;
    border: 0;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.UP43G {
    color: #3897f0;
}

.A9bvI {
    border-top: 1px solid #efefef;
    position: relative;
}

.IpSxo {
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 81px;
    padding: 16px;
}

.GsWMc,
.Suw8v {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.GsWMc {
    margin-right: 6px;
    margin-top: -2px;
}

._2dbep {
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

._6q-tv {
    height: 100%;
    width: 100%;
}

.NfvXc {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
    width: 100%;
}

._472V_ {
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: 14px;
    outline: 0;
    line-height: 18px;
    height: 45px;
    overflow: auto;
    overflow-wrap: break-word;
    resize: none;
}

.kngRO {
    background-color: #efefef;
    background-size: cover;
    height: 48px;
    width: auto;
}

.TjnKz {
    position: absolute;
    width: 100%;
}

._2OfRz {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    border-top: 1px solid #efefef;
    color: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 12px;
    padding: 0;
}

._7xQkN {
    margin-left: 16px;
}

.pbpTR {
    margin: 0 16px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

._f4a0g {
    display: block;
}


/*PC*/

@media screen and (min-width:630px) {
    ._sq6zx {
        display: flex;
    }
}